<div id="wrapper">
    <div id="header" class="col-full">
        <div id="logo">
            
            <a href="http://hackeducation.com" title=""></a>

        </div><!-- /#logo -->

    </div><!-- /#header -->
    
    <div id="navigation" class="col-full">

        <ul id="main-nav" class="nav fl">
            <li class="page_item page-item-2"><a href="http://matrix.hackeducation.com" title="Home">Mapping Ed-Tech</a></li>
            <li class="page_item page-item-2"><a href="/blog/" title="About">Blog</a></li>
            <li class="page_item page-item-2"><a href="http://hackeducation.com/support.php" title="Support">Support</a></li>
        </ul>
        
        <ul class="rss fr">
            <li class="sub-rss"><a href="http://feeds.feedburner.com/hackeducation">Subscribe to Hack Education RSS</a></li>
        </ul>

    </div><!-- /#navigation -->

    <!-- #content Starts -->
    <div id="content" class="col-full">

        <div id="main-sidebar-container">

            <!-- #main Starts -->
            <div id="main">      
                             
            
    <!-- Post Starts -->
    
    <div class="post-14311 post type-post status-publish format-standard hentry no-iste13">