
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">

<title>Hack Education Ed-Tech Matrix</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="index, follow" />
<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />

<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://matrix.hackeducation.com/blog.xml" />

<style type="text/css">

#logo .site-title, #logo .site-description { display:block; }
body {background-repeat:no-repeat;background-position:top center;border-top:4px solid #000000;}
#header {background-image:url(https://s3.amazonaws.com/hackedu/header_new.png);background-repeat:no-repeat;background-position:top center;margin-top:0px;margin-bottom:0px;padding-top:300px;padding-bottom:30px;border:3px solid #000;}
#logo .site-title a {font:normal 40px/1em Georgia, serif;color:#222222}
#logo .site-description {font:italic 14px/1em Georgia, serif;color:#999999}
#logo .site-title a {font:normal 40px/1em Georgia, serif;color:#222222}
#logo .site-description {font:italic 14px/1em Georgia, serif;color:#999999}
body, p {font:normal 12px/1.5em Arial, sans-serif;color:#555555}
h1 {font:normal 28px/1.5em Georgia, serif;color:#222222}h2 {font:normal 20px/1.5em Arial, sans-serif;color:#222222}h3 {font:normal 20px/1.5em Georgia, serif;color:#222222}h4 {font:normal 16px/1.5em Georgia, serif;color:#222222}h5 {font:normal 14px/1.5em Georgia, serif;color:#222222}h6 {font:normal 12px/1.5em Georgia, serif;color:#222222}
.post .title, .page .title, .post .title a:link, .post .title a:visited, .page .title a:link, .page .title a:visited {font:bold 24px/1.2em Arial, sans-serif;color:#222222}
.post-meta, .post-meta .post-author a {font:normal 11px/1.2em "Trebuchet MS", Tahoma, sans-serif;color:#868686}
.entry, .entry p{font:normal 14px/1.5em Arial, sans-serif;color:#555555}
.post-more {font:normal 12px/1.5em Arial, sans-serif;color:#868686;border-top:4px solid #e6e6e6;border-bottom:1px solid #e6e6e6;}
.nav-entries, .wp-pagenavi {border-top:1px solid #e6e6e6;border-bottom:4px solid #e6e6e6;}
.nav-entries a, .wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi .current, .wp-pagenavi .on, .wp-pagenavi a:hover, .wp-pagenavi span.extend, .wp-pagenavi span.pages {font:italic 12px/1.5em Georgia, serif;color:#777777!important}
.wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi span.extend, .wp-pagenavi span.pages, .wp-pagenavi span.current {color:#777777!important}
.widget h3 {font:bold 14px/1.5em Arial, sans-serif;color:#555555;border-bottom:3px solid #e6e6e6;}
.widget_recent_comments li, #twitter li { border-color: #e6e6e6;}
.widget p, .widget .textwidget {font:normal 12px/1.5em Arial, sans-serif;color:#555555;}
.widget {font:normal 12px/1.5em Arial, sans-serif;color:#555555;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
#tabs .inside li a {font:bold 12px/1.5em Georgia, serif;color:#555555;}
#tabs .inside li span.meta, #tabs ul.wooTabs li a {font:normal 11px/1.5em "Trebuchet MS", Tahoma, sans-serif;color:#777777;}
.nav a, #navigation ul.rss a {font:normal 14px Arial, sans-serif;color:#555555}
#navigation {border-top:1px solid #dbdbdb;border-bottom:4px solid #dbdbdb;border-left:0px solid #dbdbdb;border-right:0px solid #dbdbdb;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
#footer, #footer p {font:italic 14px Georgia, serif;color:#777777}
#footer {border-top:4px solid #dbdbdb;border-bottom:0px solid ;border-left:0px solid ;border-right:0px solid ;border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.magazine #loopedSlider .content h2.title a {font:bold 24px/1em Arial, sans-serif;color:#ffffff;}
.magazine #loopedSlider .content .excerpt p {font:normal 12px/1.5em Arial, sans-serif;color:#cccccc;}
.business #loopedSlider .content h2.title a {font:bold 24px/1em Arial, sans-serif;color:#ffffff;}
.business #loopedSlider .content p {font:normal 12px/1.5em Arial, sans-serif;color:#cccccc;}
</style>

<link rel="shortcut icon" href="https://s3.amazonaws.com/hackedu/hackedu.png"/>


<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

<!--Other JS-->
<script type="text/javascript" src="http://hackeducation.com/jscripts/qtip.js"></script>
<script src='http://api.1.ongithub.com/js/master.js' type='text/javascript'></script>
<script src='http://api.1.ongithub.com/js/utilities.js' type='text/javascript'></script>

</head>